form {
    width: 400px;
    height: 400px;
    margin: auto;
    display: block;
    background-color: #eee;
    border: solid 2px #000;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

form h1 {
    color: #fff;
    background-color: #000;
    margin-top: 0px;
    padding: 5px;
    padding-top: 15px;
    font-size: 1.6em;
}

form button {
    padding: 15px;
    background-color: #D9D9D9;
    border-color: #666666;
    font-weight: bold;
    margin: auto;
}